<?xml version="1.0" encoding="utf-8"?>
<!--suppress AndroidDomInspection -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0"
    android:compileSdkVersion="30"
    android:compileSdkVersionCodename="11"
    package="com.example.mytaxi"
    platformBuildVersionCode="30"
    platformBuildVersionName="11">

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="30" />

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission
        android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x20000"
        android:required="true" />

    <application
        android:theme="@ref/0x7f1001cd"
        android:label="@ref/0x7f0f001c"
        android:icon="@ref/0x7f0d0000"
        android:debuggable="true"
        android:testOnly="true"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:extractNativeLibs="false"
        android:roundIcon="@ref/0x7f0d0002"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory">

        <activity
            android:name="com.example.mytaxi.SettingsActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@ref/0x7f0f004e" />

        <activity
            android:label="@ref/0x7f0f0090"
            android:name="com.example.mytaxi.CustomerMapsActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@ref/0x7f090008" />

        <activity
            android:label="@ref/0x7f0f0091"
            android:name="com.example.mytaxi.DriverMapsActivity" />

        <activity
            android:theme="@ref/0x7f100047"
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />

        <activity
            android:name="com.example.mytaxi.CustomerRegLogActivity" />

        <activity
            android:name="com.example.mytaxi.DriverRegLogActivity" />

        <activity
            android:name="com.example.mytaxi.WelcomeActivity" />

        <activity
            android:name="com.example.mytaxi.MainActivity"
            android:screenOrientation="1">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@ref/0x01030010"
            android:name="com.google.firebase.auth.internal.FederatedSignInActivity"
            android:permission="com.google.firebase.auth.api.gms.permission.LAUNCH_FEDERATED_SIGN_IN"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="2" />

        <activity
            android:theme="@ref/0x01030010"
            android:name="com.google.firebase.auth.internal.GenericIdpActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="2">

            <intent-filter>

                <action
                    android:name="android.intent.action.VIEW" />

                <category
                    android:name="android.intent.category.DEFAULT" />

                <category
                    android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="genericidp"
                    android:host="firebase.auth"
                    android:path="/" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@ref/0x01030010"
            android:name="com.google.firebase.auth.internal.RecaptchaActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="2">

            <intent-filter>

                <action
                    android:name="android.intent.action.VIEW" />

                <category
                    android:name="android.intent.category.DEFAULT" />

                <category
                    android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="recaptcha"
                    android:host="firebase.auth"
                    android:path="/" />
            </intent-filter>
        </activity>

        <service
            android:name="com.google.firebase.auth.api.fallback.service.FirebaseAuthFallbackService"
            android:enabled="true"
            android:exported="false">

            <intent-filter>

                <action
                    android:name="com.google.firebase.auth.api.gms.service.START" />

                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">

            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />

            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.database.DatabaseRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />

            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.storage.StorageRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="com.squareup.picasso.PicassoProvider"
            android:exported="false"
            android:authorities="com.example.mytaxi.com.squareup.picasso" />

        <activity
            android:theme="@ref/0x01030010"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false" />

        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:exported="false"
            android:authorities="com.example.mytaxi.firebaseinitprovider"
            android:initOrder="100"
            android:directBootAware="true" />
    </application>
</manifest>
